# IntelliJ project files
*.iml
target/

#### IntelliJ IDEA dir config ####
/.idea/
/idea/

#### IntelliJ IDEA out folder (compilation folder) ####
/.out/
/out/

#### IntelliJ IDEA build folder (compilation folder) ####
/.build/
/build/
